h1{
    background: #c189f1;
    color: darkmagenta;
}
h2{
    background: #c189f1;
    color: darkmagenta;
}
p{
    background: aquamarine;
    color: deeppink;
}
ul{
    background: #3ca4c7;
    color: #ffca0d;
}
img{
    width: 200px;
}